-if @error=='name_or_password_wrong'
  %div(style='font-size:15px;Background-color:#FFC1C1;padding-top:5px;color:red')
    %p
      用户名或密码错误
-if @error=='name_not_exist'
  %div(style='font-size:15px;Background-color:#FFC1C1;padding-top:5px;color:red')
    %p
      账号不存在
-if @error=='answer_not_right'
  %div(style='font-size:15px;Background-color:#FFC1C1;padding-top:5px;color:red')
    %p
      忘记密码答案错误