%img(alt='Blog' src="/assets/blog.gif" width="150" style="margin-top:10px; margin-left: 200px")
%div(class="modal hide fade in" style="display:block;Background-color:#F5F5F5;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" )
  %div(class="modal-header")
    %h4添加用户注册
    %span(class="header-right" style="margin-right: 70px; margin-top: 20px; ")
      =link_to "返回用户管理", "/blog/manage_user"
  %div(class="modal-body" style="text-align:center;")
    %br
    =form_for (:user_info), :method=>'post', :url=>'/blog/judge_user_password_repeat' do |f|
      %div(class="input-prepend")
        =f.label :"账号",:class=>"add-on",:style=>"height:30px;width:100px"
        =f.text_field :account ,:type=>"input",:style=>"height:30px;width:300px",:placeholder=>"账号"
        %br
        %br
        =f.label :"请设置密码",:class=>"add-on",:style=>"height:30px;width:100px"
        =f.text_field :password ,:type=>"password",:style=>"height:30px;width:300px",:placeholder=>"请输入密码"
        %br
        %br
        =f.label :"请确认密码",:class=>"add-on",:style=>"height:30px;width:100px"
        =f.text_field :password_confirmation,:type=>"password",:style=>"height:30px;width:300px",:placeholder=>"请再次输入"
        %br
        %br
        =f.label :"忘记密码问题",:class=>"add-on",:style=>"height:30px;width:100px"
        =f.text_field :question ,:type=>"text",:style=>"height:30px;width:300px",:placeholder=>"密码问题"
        %br
        %br
        =f.label :"忘记密码答案",:class=>"add-on",:style=>"height:30px;width:100px"
        =f.text_field :answer ,:type=>"text",:style=>"height:30px;width:300px",:placeholder=>"密码答案"
        %br
        -if flash[:notice]
          %div(style='font-size:15px;Background-color:#FFC1C1;padding-top:5px;color:red')
            %p
              =flash[:notice]
        %br
        =f.submit "添加"