%div(style="background-color: #f5f5f5;height: 70px;")
  .container
    .row
      =render "header"
      .col-md-9.post-border.post-padding(style='margin-left: 5px;margin-bottom: 20px;')
        .form-horizontal(role="form")
          %form
            .form-group#title
              %label.col-sm-2(style="padding-left: 10px;margin-bottom: 0;")
                博客标题
                %input(type='text' style='width: 500px;margin-left: 5px' value="#{@edited_article.title}")
                %span.must *
            %br
            .form-group#sort
              %label.col-sm-2(style="padding-left: 10px;margin-bottom: 0;")
                博客分类
                %input(type='text' style='width: 500px;margin-left: 5px' value="#{@edited_article.sort}")
            %br
            .form-group#essay
              %label.col-sm-2(style="padding-left: 10px;margin-bottom: 0;")
                编辑博客内容
                %hr
              %div(style='margin-left: 10px')
                %textarea#456.form-control(rows='20px' style='width: 660px') #{@edited_article.essay}
            %br
            .form-group(style='text-align: center')
              %a#publish.btn.btn-primary(href='javascript:void(0)' onclick="edit_publish(#{@article_id})")发布