.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-1 {
    width: 8.333333333333332%;
}
.col-md-2 {
    width: 16.666666666666664%;
}
.col-md-3 {
    width: 25%;
}
.col-md-4 {
    width: 33.33333333333333%;
}
.col-md-5 {
    width: 41.66666666666667%;
}
.col-md-6 {
    width: 50%;
}
.col-md-7 {
    width: 58.333333333333336%;
}
.col-md-8 {
    width: 66.66666666666666%;
}
.col-md-9 {
    width: 75%;
}
.col-md-10 {
    width: 83.33333333333334%;
}
.col-md-11 {
    width: 91.66666666666666%;
}
.col-md-12 {
    width: 100%;
}

@media (min-width: 992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666666666666%;
    }
    .col-md-10 {
        width: 83.33333333333334%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666666666666%;
    }
    .col-md-7 {
        width: 58.333333333333336%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666666666667%;
    }
    .col-md-4 {
        width: 33.33333333333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.666666666666664%;
    }
    .col-md-1 {
        width: 8.333333333333332%;
    }
}

.multilevel-nav {
    background-color: #eee;
}

.multilevel-nav .nav-pills > li > a {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.multilevel-nav .nav > li > a:hover,
.multilevel-nav .nav > li > a:focus {
    background-color: #FFF;
}

.multilevel-nav .nav-pills > li.active > a {
    background-color: #428bca;
}

.multilevel-nav .nav {
    padding: 6px 0 0;
    margin: auto;
}

.multilevel-nav .nav:after {
    content: "";
    width: 100%;
    background-image:-webkit-gradient(linear, left top, right top, color-stop(0, #fff), color-stop(0.5, #fff), color-stop(1, #fff));
    height: 2px;
    margin: 5px auto 0px;
}

.multilevel-nav .nav-title {
    padding: 10px 0px 5px 15px;
    display: inline-block;
    color: #999;
}

.multilevel-nav .nav-title:after {
    font-family: 'icomoon';
    content: "\f0d7";
    color: #ccc;
    margin-left: 5px;
}

.multilevel-nav .sub-level {
    padding: 10px 30px 10px 30px;
}

.btn-primary {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-primary .badge {
    color: #428bca;
    background-color: #fff;
}

